<h1> Data Science Tools and Ecosystem </h1>

<h2>Author: Nate Dog</h2>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

Some popular numbers that Data Scientists use are:
<ul>
    <li>1</li>
    <li>sqrt(2)</li>
    <li>pi</li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>python</li>
    <li>SQL</li>
    <li>R</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>SciPy</li>
    </ol>

<table><tr><td>Data Science Tools</td></tr>
<tr><td>JupyterLab</td></tr>
<tr><td>R Studio</td></tr>
<tr><td>VS Studio</td></tr></table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

** Exponentiation

% Mod

\* Multiplication

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335